body {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.seat {
  background-color: #444451;
  height: 15px;
  width: 15px;
  margin: 3px;
  border-radius: 5px;
}
.row {
  display: flex;
}

.seat.selected {
  background-color: antiquewhite;
}
.seat.reserved {
  background-color: aqua;
}

.seat:nth-of-type(2) {
  margin-right: 20px;
}

.seat:nth-last-of-type(3) {
  margin-right: 20px;
}
.seat:not(.reserved):hover{
    cursor: pointer;
    transform: scale(1.3);
}
.screen {
  background-color: bisque;
  height: 50px;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 3px 8px rgba(255, 255, 255, 0.7);
}

.movie-list {
  margin: 20px 0;
}
.info {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  color: #777;
  display: flex;
}
.info li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
p{
    color: #fff;
}
p.text span{
    color: coral;
}
