.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2,1fr);
}
div {
  outline: 2px solid black;
  padding: 0.5em;
}
